@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@font-face {
	font-family: thunder;
	src: url("../assets/fonts/thunder/Thunder-VF.ttf");
}

@font-face {
	font-family: manrope;
	src: url("../assets/fonts/manrope/Manrope-VariableFont_wght.ttf");
}

.circledSection {
	position: absolute;
	animation: animate 17.5s linear infinite;
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
